<header class="header">
    <div class="container">
        <div class="header__flex">
            <div class="header__left">
                <a href="" class="header__logo"><i class="fa-solid fa-user-astronaut"></i></a>
                <a href="/"><h1 class="header__title">Orion Protocol</h1></a>
            </div>
            <div class="header__center">
                <nav class="header__links">
                    <a class="header__link" href="/">Inicio <i class="fa-solid fa-house"></i></a>
                    <a class="header__link" href="/about.html">Acerca de <i class="fa-solid fa-address-book"></i></a>
                    <a class="header__link" href="https://github.com/fullbuster-t" target="_blank">Github <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    <a class="header__link" href="/time-line.html">Línea del tiempo <i class="fa-solid fa-timeline"></i></a>
                </nav>
            </div>
            <div class="header__right">
                <div class="header__link">
                    <i class="fa-solid fa-magnifying-glass header__icon" ></i>
                    <input class="header__search" type="text" placeholder="Buscar">
                </div>
                <div class="header__dropdown">
                    <div class="header__btn"><i class="fa-solid fa-palette"></i></div>
                    <div class="header__dropdown-menu" id="colorMenu"></div>
                </div>
                <div class="header__dropdown">
                    <div class="header__btn"><i class="fa-solid fa-language"></i></div>
                    <div class="header__dropdown-menu" id="languageMenu"></div>
                </div>
                <div class="header__dropdown">
                    <div class="header__btn"><i class="fa-regular fa-moon"></i></div>
                    <div class="header__dropdown-menu" id="themeMenu"></div>
                </div>
            </div>
        </div>
    </div>
</header>