.main__about {
    background-color: $boxColor;
    padding: 2rem;
    border-radius: 1.5rem;
}

.main__module {
    margin-bottom: 3rem;
}

.main__projects {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .main__projects {
        flex-direction: column;
    }
}

.main__project {
    position: relative;
    overflow: hidden;
    flex: 0 0 calc(50% - 2rem);
}

.main__projectdata {
    width: 90%;
    background-color: $lightGray;
    padding: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    position: absolute;
    bottom: -3rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.main__projectdescription {
    color: black;
}

.main__projecttitle {
    margin: 1rem 0;
}

.main__projecttitle:hover{
    color: $secondaryColor;
}

.main__projectbuttons {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.main__projectbutton {
    padding: 1rem 0;
    width: 50%;
    text-align: center;
    background-color: $boxColor;
    border-radius: 1rem;
}

.main__projectbutton:hover {
    background-color: $secondaryColor;
}

.main__projecttechs {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    font-size: 3.5rem;
    color: $secondaryColor;
}

.main__project:hover .main__projectdata{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s; 
}

.main__project:hover {
    animation: remove-overflow 2s forwards;
}

.main__project:not(:hover) {
    animation: show-overflow 2s forwards;
}

.main__project:not(:hover) .main__projectdata{
    animation: remove-data 1s forwards;
}

@keyframes show-data {
    50% {
        transform: translateY(-4rem);
    }
    100% {
        transform: translateY(-1rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial
    };
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
    100% {

    }

}