<!DOCTYPE html>
<html lang="{{ site.iso-lang }}">
{%- include head.html -%}
<body>
    {%- include header.html -%}
    
    <main class="main">
        <div class="container">
            <div class="main__flex">
                <div class="main__left">
                    <div class="main__profile">
                        <a href="/about.html" class="main__logo"><img src="https://pbs.twimg.com/profile_images/1847821277936910336/MfUv30pv_400x400.jpg" class="main__img"></a>
                        <h3 class="main__name">Fullbuster SofDev</h3>
                        <p class="main__phrase">Depura tus errores y construye la mejor versión de ti, cada línea cuenta.</p>
                    </div>
                    <div class="main__categories">
                        <div class="main__subtitle">
                            <div class="main__symbol"></div>
                            <h3>Categorías</h3>
                        </div>
                        <ul class="main__categories--list">
                            {% for category in site.categories %}
                                <li class="main__categories--element">
                                    <a href="/category/{{ category[0] | slugify }}">{{ category[0] }}</a> ({{ category[1].size }}) 
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="main__tags">
                        <div class="main__subtitle">
                            <div class="main__symbol"></div>
                            <h3>Etiquetas</h3>
                        </div>
                        <ul class="main__tags--list">
                            {% for tag in site.tags %}
                                <li class="main__tags--element">
                                    <a href="/tag/{{ tag[0] | slugify }}/">{{ tag[0] }}</a> ({{ tag[1].size }})
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="main__center">
                    {{ content }}
                </div>
                <div class="main__right">
                    <div class="main__recent">
                        <div class="main__subtitle">
                            <div class="main__symbol"></div>
                            <h3>Agregados recientemente</h3>
                        </div>
                        <ul class="main__recent--list">
                            {% for post in site.posts limit: 7 %}
                                <li class="main__recent--element">
                                    <a href="{{ post.url }}" class="main__recent--link">{{ post.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>    
            </div>
            
        </div>
        
    </main>

<script src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
</body>
</html>